{{#with contact}}
  {{view Ember.TextField valueBinding="firstName" placeholder="First Name"}}
  {{view Ember.TextField valueBinding="lastName" placeholder="Last Name"}}
  {{#if id}}
    {{submitButton "Update"}}
  {{else}}
    {{submitButton "Create"}}
  {{/if}}
{{/with}}
<a href="#" class="btn" {{action "cancelForm"}}>Cancel</a>
