<tr>
  <td>{{contact.id}}</td>
  <td class="data">
    {{#if isEditing}}
      {{view App.EditContactView contactBinding="contact"}}
    {{else}}
      {{contact.fullName}}
      <div class="commands">
        <a href="#" {{action "showEdit"}}>Edit</a>
        <a href="#" {{action "destroyRecord"}}>Remove</a>
      </div>
    {{/if}}
  </td>
</tr>
